/*nav bar*/

#navigation{
  background-color: #daac00;
  padding: 0 8%;
  }


  

#searchbox{
  background-color: rgb(212, 126, 126);
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 0;
  position: relative;
  left: 51px;
}

#searchbtn{
position: relative;
background-color: rgb(73, 73, 124);
color: white;
border: 0;
border-radius: 0;
}